{
    // 用Array列出要使用的presets (一組相關功能plugins的集合)
    "presets": [],
    // 用Array列出要使用的plugins
    "plugins": ["@babel/plugin-transform-typescript", "transform-class-properties"],
    // 設定不執行compile的檔案，可以是正規表示法或是特定路徑
    "ignore": []
  }